body {
    display: flex;
}

input-fields {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;

    input {
        margin: 6px;
        padding: 5px;
        text-align: start;
        font-size: 22px;
    }

    p {
        display: flex;
    }
}

button-frame {

    display: flex;
    /* flex-grow: 1; */
    justify-content: center;
    flex-direction: column;

    button {
        color: #090909;
        margin: 0.4em 0.1em;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        cursor: pointer;
        border: 1px solid #e8e8e8;
        transition: all 0.3s;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }

    button:hover {
        border: 1px solid white;
    }

    button:active {
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
    }
}

#clear {
    margin: 0px 10px 0px 10px;
    padding: 2px;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}


#side-panel {
    width: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#side-panel button {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

.success {
    border-color: #04AA6D;
    color: green;
}

.success:hover {
    background-color: #04AA6D;
    color: white;
}

#main-content {
    transition: margin-left 0.5s;
    padding: 16px;
    width: 100%;
}

#basic-arithmatics-container {
    background-color: #c5c5c51f;
}

#basic-arithmatics-container,
#average-formula-container,
#constants-container {
    display: none;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;

    h2 {
        font-size: 35px;
    }
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 2;
}

.open-btn:hover {
    background-color: #444;
}

#close-arithmatics-btn,
#close-averages-btn,
#close-constants-btn {
    font-size: 16px;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 5px;
}

#close-arithmatics-btn:hover,
#close-averages-btn:hover,
#close-constants-btn:hover {
    background-color: #ccc;
}